<!DOCTYPE html>
<html>
    <head>
    <title>기본 예제 테스트</title>
</head>
<body>
    <h1>이름</h1>
        <p><%= name %></p>
    <h1>블로그</h1>
        <p><%= blog %></p>
    <h1>홈페이지</h1>
        <p><%= homepage %></p>
</body>
</html>